* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --primaryColor: #5F84C0;
    --primaryColorLight: #CFE1FF;
    --SecondaryColor: #223066;
    --whiteColor: #fff;
    --blackColor: #000;

}

p {
    line-height: 24px;
}

ul,p {
    margin-bottom: 0 !important;
}

li {
    list-style-type: none !important;
}
.main-container {
    width: 100%;
    overflow: hidden;
}
.sidebar{
    width: 300px !important;
}
.sidebar-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sidebar-inner .sidebar-logo{
    width: 100%;
}
.sidebar-logo img{
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
.side-items-box ul li{
margin-bottom: 15px;
}
.side-items-box ul li a{
    color: var(--SecondaryColor);
    text-decoration: none;
    font-size: 20px;
}
.side-items-box ul li a.active{
    color: var(--primaryColor);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 20px 30px;
    border-bottom: 7px solid var(--primaryColor);
    /* position: relative; */
}
button.hamburger-btn{
    background-color: transparent;
    border: 0;
    color: var(--SecondaryColor);
    font-size: 22px;
    border: 1px solid var(--whiteColor);
    /* padding-block: 1px; */
    padding: 0;
    display: none;
}
button.hamburger-btn:hover{
color:#5F84C0;
background-color: #fff;
border: 1px solid var(--whiteColor);
}
button.hamburger-btn:active{
    background-color: #fff !important;
    border: 1px solid var(--whiteColor) !important;
    color: var(--SecondaryColor) !important;
}
.nav-logo-box {
    flex: 1;
    display: inline-flex;
}

.nav-logo-box img {
    width: 263px;
    height: 52px;
}

.nav-right-box {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 28px;
}

.nav-items-box ul {
    display: flex;
    gap: 82px;
    align-items: center;
    justify-content: center;

}

li {
    list-style-type: none;
    position: relative;
}

.nav-items-box ul li a {
    color: var(--SecondaryColor);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-items-box ul li a::before,
.nav-items-box ul li a.active::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--primaryColor);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    margin-bottom: -10px;
}

.nav-items-box ul li a:hover::before,
.nav-items-box ul li a:hover,
.nav-icons-box span i:hover {
    transform: scaleX(1);
    transform-origin: left;
    color: var(--primaryColor) !important;
}

.nav-items-box ul li a.active::before {
    color: yellow !important;
    transform: scaleX(1);
}

.nav-icons-box {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.nav-icons-box span i {
    color: var(--SecondaryColor);
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header>.login-btn button {
    background-color: var(--SecondaryColor);
    border: 0;
    outline: none;
    color: var(--whiteColor);
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.header>.login-btn button:hover {
    background-image: linear-gradient(#141E44F5, #2D69CAF5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.425);
    transform: translateY(2px);
}

/*hero section styling*/
.hero-section {
    background-image: url('images/contact-bg.png');
    /* max-width: 1440px; */
    width: 100%;
    height: 542px;
    /* background-position:center; */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* background-position: center; */
    /* background-position: center; */
}

.hero-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* position: relative; */

}

.hero-inner .hero-info {
    position: absolute;
    left: 40px;
    top: 25%;
    /* transform: translate(-50%, -50%); */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* height: 100%; */
    /* min-width: 100%; */
}

.hero-info .info-title h1 {
    color: var(--blackColor);
    font-size: 4rem;
    font-weight: 700;
}

.hero-info .info-tagline {
    color: var(--SecondaryColor);
    font-size: 23px;
}

.hero-info .info-btn button {
    background-color: var(--SecondaryColor);
    color: var(--whiteColor);
    border: 0;
    outline: none;
    border-radius: 20px;
    padding: 20px;
    line-height: 0px;
    height: 20px;
    width: 140px;
    font-size: 17px;
}

.hero-inner .tools-box {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    position: relative;
}

.tools-box .tool {
    background-color: var(--primaryColor);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool:nth-of-type(even) {
    background-color: var(--SecondaryColor);
}

.tools-box .tool img {
    width: 100%;
    height: 33px;
    object-fit: contain;
}

.form-container {
    position: relative;
    width: 100%;
    background-color: var(--SecondaryColor);
}

.form-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto !important;
    padding: 50px 20px;
    gap: 40px;
}

.form-inner .form-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    flex: 1;
}

.form-info h1 {
    font-size: 50px;
    line-height: 52px;
    font-weight: 600;
}

.form-info p {
    font-size: 18px;
}

.contact-form-inner {
    width: 100%;
    background-color: rgba(255, 253, 253, 0.253);
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 7px;
    position: relative;
    z-index: 999;
    /* margin-block: 40px; */
}

.form-logo img {
    max-width: 280px;
    width: 100%;
    display: block;
    margin: 35px auto;
}

.contact-form-inner form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form-inner form>h1 {
    color: var(--whiteColor);
    font-size: 20px;
    margin-block: 10px;
}

form>.field-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

form>.field-box input,
textarea {
    padding: 8px;
    border: 1px solid white;
    outline: none;
    background: transparent;
    color: white
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.55);
}

.field-box>label {
    color: white;
    font-size: 14px;
}

.field-box textarea {
    resize: none;
    height: 113px;
}

.form-btn>button {
    border: 0;
    outline: none;
    padding: 12px;
    width: 124px;
    height: 43px;
    text-align: left;
    border-radius: 7px;
    color: var(--SecondaryColor);
    background-color: #fff;
    line-height: 0px;
    font-weight: bold;
    font-size: 18px;

}

.form-btn button>span {
    padding-right: 16px;
}

.contact-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px 0;
    position: relative;
    z-index: 10;
}

.contact-cards .contact-card {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    border-radius: 7px;
    background-image: linear-gradient(#2D69CAF5, #141E44F5);
}

.contact-card .top img {
    width: 65px;
    height: 65px;
}

.contact-card .bottom {
    text-align: center;
    color: var(--whiteColor);
}

.search-bgImages {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 0;

}

.searchBg1 {
    background-image: url('images/pngwing1.png');
    background-position: center;
    background-size: cover;
    /* width: 800px; */
    max-width: 700px;
    width: 100%;
    height: 600px;
    position: relative;
}

.searchBg2 {
    background-image: url('images/pngwing2.png');
    background-position: center;
    background-size: cover;
    max-width: 700px;
    width: 100%;
    height: 600px;

}

footer {
    display: flex;
    justify-content: center;
    padding: 30px 14px 0px 14px;
    gap: 10px;
    max-width: fit-content;
    /* flex-wrap: wrap; */
    position: relative;
    margin: 0 auto;
    color: #fff;
}

footer>p>a {
    color: var(--whiteColor);
    text-decoration: none;
}

footer a.active {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

@media only screen and (max-width:768px) {
    .header {
        padding: 13px 14px;
    }

    .nav-items-box {
        display: none;
    }
    button.hamburger-btn{
        display: block !important;
        }
    .nav-logo-box img {
        width: 180px;
        object-fit: contain;
        max-height: fit-content;
    }

    .search-bgImages {
        flex-direction: column !important;
    }

    .hero-info .info-title h1 {
        font-size: 3rem;
    }
}


@media only screen and (max-width:576px) {
    .nav-icons-box {
        gap: 10px;
    }

    .nav-icons-box span i {
        font-size: 20px;
    }

    .header>.login-btn button {
        padding: 8px 17px;
    }

    footer>p {
        font-size: 10px;
    }

    .form-inner {
        padding: 50px 0px;
    }
}

@media only screen and (max-width:365px) {
    .nav-icons-box {
        display: none;
    }
}